{% extends 'home.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/booking.css' %}">
<title>Booking</title>
{% endblock%}
{% block content %}
<img src="{{book.Photo.url}}" id="poster">
<div class="container">
    <section>
        <label>Name of destination: {{book.Place}}</label>
        <label>Cost of Ticket: {{book.RateOfTicket}}&#8377;</label>
    </section>
    <aside>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{user.email}}">
            <input type="hidden" name="place" value="{{book.Place}}">
            <input type="hidden" name="rot" value="{{book.RateOfTicket}}">
            <label>Enter number of passenger</label>
            <input type="date" name="doj">
            <input type="text" name="nop">
            <button class="btn btn-warning" type="submit">Book</button>
        </form>
    </aside>
</div>
{% endblock %}