.container{
    position: absolute;
    display: flex;
    top: 300px;
    left: 200px;
    background: #00000026;
    color: white;
    height: 90px;
}
img{
    position: relative;
    display: block;
    left: 10%;
    top: 50%;
    width: 80%;
    height: 400px;
    border-radius: 100px;
}
section{
    margin-right: 20px;
    padding: 20px;
    border-right:2px solid white; 
}
label{
    display: block;
    font-size: 20px;
}