.container{
    width: 80%;
    margin: 0 13%;
    height: 650px;
    overflow:scroll;
    position: absolute;
    top: 200px;
    background-color: rgb(255, 255, 255);
}
.rounded-circle{
    position: absolute;
    display: block;
    right: 800px;
}
.jumbotron{
    margin-left: 330px;
}
.rounded-circle{
    transform: rotate(6deg);
}
#update{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}   
form input{
    font-size: 20px;
}
#id_profilePic{
    background: none;
    border: none;
    border: 1px solid #ced4da;
    border-radius: 2px;
}
